/* #region Mustard color underlined items */
h2, .sub-h2, #currentFocusTitle {
  border-bottom: 2px solid #e2ae48;
}

/* #endregion */
/* shadowed items */
img, .card-experience {
  -webkit-box-shadow: 2px 2px 5px 0px #52616b;
  -moz-box-shadow: 2px 2px 5px 0px #52616b;
  box-shadow: 2px 2px 5px 0px #52616b;
}

body {
  font-family: "Dosis", sans-serif;
  background-color: #c9d6df;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.sub-h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

@media (min-width: 962px) and (max-width: 1300px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .sub-h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1300px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  .sub-h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
}

p {
  font-size: 0.9rem;
}

@media (min-width: 962px) and (max-width: 1300px) {
  p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1300px) {
  p {
    font-size: 1.3rem;
  }
}

img {
  width: 100%;
}

.a-light {
  color: #c9d6df;
  text-decoration: underline;
}

.a-dark {
  color: #52616b;
  text-decoration: underline;
}

a:hover {
  color: #e2ae48;
}

::selection {
  color: #f0f5f9;
  background-color: #1e2022;
}

::-moz-selection {
  color: #f0f5f9;
  background-color: #1e2022;
}

::selection {
  color: #f0f5f9;
  background-color: #1e2022;
}

/* #region Navigation Bar*/
.navbar {
  padding: 1rem 0;
  transition: background-color 0.4s ease;
}

.navbar.scrolled {
  background-color: #52616b;
}

.navbar-brand {
  margin-right: 3rem;
  margin-left: 1rem;
  color: #f0f5f9;
  font-weight: 400;
  border: solid 1px #f0f5f9;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  transition: color .6s ease, border-color .6s ease;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #e2ae48;
  border-color: #e2ae48;
  outline: 0;
}

.navbar-nav .nav-link {
  color: #f0f5f9;
  min-width: 100px;
  transition: color .6s ease;
  margin: 0.2rem 1.8rem;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #e2ae48;
  outline: 0;
}

.navbar-toggler {
  color: #f0f5f9;
  margin: 0 1rem;
  border: solid 1px #f0f5f9;
  border-radius: 0.5rem;
  transition: color .6s ease, border-color .6s ease;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  color: #e2ae48;
  color: #e2ae48;
  border-color: #e2ae48;
  outline: 0;
}

#navbarTogglerFontIcon {
  padding: 0.6rem 0.3rem;
}

/*#endregion*/
/* #region Home Section*/
#home {
  max-width: 100%;
  height: 100vh;
  min-height: 600px;
  background-image: url("../imgs/header_small.jpg");
  background-size: cover;
  background-position: center;
  color: #f0f5f9;
}

@media (min-width: 992px) {
  #home {
    background-image: url("../imgs/header.jpg");
  }
}

#greeting {
  position: absolute;
  top: 60%;
  left: 5%;
  display: inline-block;
  text-align: center;
  line-height: 1.1rem;
}

#greeting h3 {
  margin-bottom: 3rem;
}

#myName {
  font-weight: lighter;
}

.btn-portfolio {
  color: #1e2022;
  background-color: #e2ae48;
  border: solid 2px #e2ae48;
  border-radius: 0.5rem;
  padding: 0.6rem;
  transition: border-color .6s ease, color .6s ease;
  font-weight: bold;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  border-color: #f0f5f9;
  color: #52616b;
  text-decoration: none;
}

/* #endregion */
/* #region About Me*/
#currentFocusTitle {
  font-weight: bold;
}

#currentFocus {
  font-size: 1.2rem;
}

.project-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: .5s ease;
  opacity: 0;
  background-color: rgba(30, 32, 34, 0.8);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-container {
  position: relative;
}

.project-container:hover .project-image {
  opacity: 0.4;
}

.project-container:hover .project-overlay {
  opacity: 1;
}

.project-shortexp {
  color: #f0f5f9;
}

.project-tech {
  color: #e2ae48;
}

/* #endregion*/
.carousel-control-next,
.carousel-control-prev {
  height: 15%;
  top: auto;
  bottom: 42.5%;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  color: #e2ae48;
}

#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  overflow: hidden;
}

#popup {
  position: relative;
  width: 80%;
  top: 15%;
  left: 10%;
  padding: 0 20px 30px 20px;
  background: #fff;
}

@media (min-width: 1300px) {
  #popup {
    width: 58%;
    left: 21%;
    top: 10%;
  }
}

#popupClose {
  float: right;
  margin-right: -30px;
  background-color: white;
  border: 1px solid white;
  border-radius: 1rem;
  margin-top: -15px;
}

#popupClose:hover {
  cursor: pointer;
}

.card-experience {
  color: #52616b;
  background-color: #f0f5f9;
  margin: 2rem 0;
}

.card-header {
  background-color: #e2ae48;
  color: #1e2022;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #f0f5f9;
  color: #52616b;
}

#subject-input {
  height: 200px;
}

.btn-send {
  color: #52616b;
  background-color: #f0f5f9;
  border-color: #52616b;
}

#contact-success-message,
#contact-error-message {
  display: none;
}
